<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <link rel="stylesheet" href="app.css">
    <script src="app.js"></script>
    <script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    
    <h2 class="makeRed">Messenger</h2>
    <div class="messenger-app">
        <div class="message-box">
            <ul class="list">
                
            </ul>
        </div>
        <div class="text-box">
            <form action="" class="text-box-form">
                <textarea name="" id="messageInput" cols="30" rows="10"></textarea>
            </form>
        </div>
        <div class="send-button" onclick="createMessage()">SEND</div>
    </div>

    <script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>